/* COLOURS **********************************************************/

:root {
    --back:        #37474f;
    --back-dark:   #263238;
    --back-pale:   #eceff1;
    --back-light:  #fff;

    --text:        #263238;
    --text-light:  #78909C;
    --text-invert: #fff;

    --accent:      #ff9800;
    --error:       #e53935;
    --success:     #43a047;

    --border:      #37474f;
    --shadow:      #00000050;
}


/* LAYOUT **********************************************************/

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--back);
    color: var(--text-invert);
}

main {
    padding: 1.5rem;
    text-align: center;
    min-height: 75vh;
}


/* HEADINGS **********************************************************/

main :is(h1,h2,h3,h4) {
    color: var(--accent);
}

/* HEADER **********************************************************/

#mainheader {
    background: var(--back-dark);
    color: var(--text-invert);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#mainheader h1 {
    margin: 0;
    color: var(--accent);
}


@media screen and (min-width: 480px) {
    #mainheader {
        flex-direction: row;
    }
}


/* NAV & LINKS **********************************************************/

#mainmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

#mainmenu a,
a.button {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 0 0 auto;
    width: max-content;
    color: var(--accent);
    background: var(--back);
    text-decoration: none;
}

#mainmenu a:hover,
#mainmenu a:active,
a.button:hover,
a.button:active {
    color: var(--text);
    background: var(--accent);
}

/* FOOTER **********************************************************/

#mainfooter {
    color: var(--text-invert);
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}


/* STATUS **********************************************************/

.status {
    display: block;
    max-width: 20rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    color: var(--text-invert);
}

.status.error {
    background: var(--error);
    color: var(--text-invert);
}

.status.success {
    background: var(--success);
    color: var(--text-invert);
}


/* PETS **********************************************************/

#pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.pet {
    width: 100%;
    max-width: 18rem;
    background: var(--back-light);
    color: var(--text);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 1px solid var(--border);
    box-shadow: 0 0.1rem 0.3rem var(--shadow);
    transition: all 200ms;
}

a.pet:hover {
    transform: scale( 1.05 );
    box-shadow: 0 0.5rem 1rem var(--shadow);
}

.pet header {
    background: var(--accent);
    color: var(--text-invert);
}

.pet header h3 {
    margin: 0.5rem 1rem;
    color: var(--text);
}

.pet figure {
    display: block;
    padding: 0;
    margin: 0;
    height: 10rem;
}

.pet figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet .details {
    flex: 1;
    padding: 1rem;
}

.pet .details :is(h1, h2, h3, h4, p, ul) {
    margin: 0 0 0.5rem;
}

.pet .details :is(h2, h3, h4) {
    color: var(--accent);
}

.pet .details :last-child {
    margin: 0;
}


.pet footer {
    padding: 0 1rem 1rem;
}



/* FORMS **********************************************************/

form {
    width: 100%;
    max-width: 20rem;
    margin: 1rem auto;
    padding: 1rem;
    background: var(--back-pale);
    text-align: left;
    color: var(--text);
}

label {
    display: block;
    color: var(--text-light);
    font-size: 0.9rem;
    margin: 0.2rem 0;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
}

input[type=text] {
    padding: 0.2rem 0.3rem;
    border: 1px solid var(--border);
}

input[type=submit] {
    margin: 1rem 0 0 auto;
    width: auto;
    padding: 0.5rem;
    color: var(--accent);
    background: var(--back);
    border: none;
}

input[type=submit]:hover {
    color: var(--text);
    background: var(--accent);
}

